@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #3d75f3;
  --gradient-radial: radial-gradient(circle at 0 0, #25a6f9, #244cf8);
  --background-color: #030303;
  --hover-background: rgba(255, 255, 255, 0.15);
  --white-color: #ffffff;
  --border-color: rgba(255, 255, 255, 0.08);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-outfit);
}

/* Button.tsx */

.primaryRegular,
.primarySM,
.applicationTypeformContainer {
  padding: 16px;
  color: var(--white-color);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  border-radius: 16px;
  background: var(--gradient-radial);
  box-shadow: 0px 2px 2px 0px rgba(15, 60, 161, 0.2);
  border: none;
  cursor: pointer;
}
.secondaryRegular,
.secondarySM {
  padding: 16px;
  border-radius: 16px;
  background: var(--hover-background);
  backdrop-filter: blur(16px);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  cursor: pointer;
}
.primarySM,
.secondarySM {
  padding: 12px 14px;
  font-size: 14px;
}
.primaryRegular:hover,
.primarySM:hover {
  border-radius: 16px;
  background: linear-gradient(135deg, #487ffb 0%, #3b6ee0 100%);
}
.primaryRegular:active,
.primarySM:active {
  border-radius: 16px;
  background: linear-gradient(135deg, #426ecf 0%, #386bdd 100%);
  box-shadow: 2px 2px 4px 0px rgba(4, 23, 66, 0.25) inset,
    -2px -2px 4px 0px rgba(211, 229, 246, 0.33) inset;
  opacity: 0.9;
}
.secondaryRegular:hover,
.secondarySM:hover {
  border-radius: 16px;
  background: var(--border-color);
  backdrop-filter: blur(8px);
  color: var(--primary-color);
  text-shadow: 1.600000023841858px 0px 3.200000047683716px
    rgba(61, 117, 243, 0.33);
  border: 1px solid var(--border-color);
}
.secondaryRegular:active,
.secondarySM:active {
  border-radius: 16px;
  background: linear-gradient(
    135deg,
    rgba(243, 246, 248, 0.25) 0%,
    rgba(247, 250, 252, 0.25) 100%
  );
  box-shadow: 2px 2px 4px 0px rgba(50, 50, 50, 0.15) inset,
    -2px -2px 4px 0px rgba(252, 252, 252, 0.33) inset;
  backdrop-filter: blur(16px);
  color: rgba(50, 50, 50, 0.75);
}
.primarySmSVG {
  border-radius: 12px;
  border: 1px solid rgba(247, 250, 252, 0.33);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.72) 0%,
    rgba(247, 250, 252, 0.72) 100%
  );
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.1);
  backdrop-filter: blur(16px);
  padding: 8px;
  cursor: pointer;
}
.primarySmSVG > svg > path {
  fill: var(--primary-color);
}
.primarySmSVG:active {
  box-shadow: 2px 2px 4px 0px rgba(4, 23, 66, 0.25) inset,
    -2px -2px 4px 0px rgba(211, 229, 246, 0.33) inset;
  opacity: 0.5;
}

.experienceCard {
  background: var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  .experienceCard {
    background-image: linear-gradient(rgb(36, 35, 37), rgb(23, 22, 25));
    box-shadow: rgb(82, 81, 84) 0px 1px 2px inset,
      rgba(0, 0, 0, 0.8) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.9) 0px 10px 10px -5px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
